.breadcrumb {
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin: 0 !important;
}


.breadcrumb li {
    display: inline;
    white-space: nowrap;
}

.breadcrumb li + li:before {
    content: ">";
    padding: 0.3rem;
}

.post__title a {
    color: #e22d30;
}

.post__title a:hover {
    text-decoration: underline;
}

.center_border{
    margin: auto;
    width: 50%;
    border: 2px solid  black;
    padding: 10px;
}


